*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f0f0f0;

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
   
   
}
main{
    display: flex;
    justify-content:center;
    align-items:center;
}

#game{
    position: relative;
    width: 62.5rem;
    height: 25rem;
    background: #ffff;
    


}

#player{
    width: 80px;
    height: 80px;
    background-image: url('assets/dino.png');
    position: absolute;
    left: 70px;
    top: 55%;
}
#player > img{
    height:100%;
}